* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(152deg, #D92027 50%, #111 50%);
    height: 100vh;
}

h1 {
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Arial Black';
    font-size: 112px;
    color: transparent;
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1::before {
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 70% 0, 30% 100%, 0 100%);
    color: #111;
}

h1::after {
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0, 70% 0, 30% 100%, 100% 100%);
    color: #D92027;
}
$root: '.c-rainbow';

:root {
 --color-background: #31037D;
 
 --axis-x: 1px;
 --axis-y: 1rem;
 --delay: 10;
 
 --color-black: #000;
 --color-white: #fff;
 --color-orange: #D49C3D;
 --color-red: #D14B3D;
 --color-violet: #CF52EB;
 --color-blue: #44A3F7;
 --color-green: #5ACB3C;
 --color-yellow: #DEBF40;
 
 --color-foreground: var(--color-white);
 --font-name: Righteous;
}

html, body {
 font-size: 24px;
}

body {
 background-color: var(--color-background);
 
 display: flex;
 align-items: center;
 justify-content: center;
 
 font-family: var(--font-name);
 
 height: 100vh;
}

#{$root} {
 counter-reset: rainbow;
 position: relative;
 display: block;
 
 list-style: none;
 
 padding: 0;
 margin: 0;
 
 &__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow; 
  font-size: 3rem;
  color: var(--text-color);

  text-shadow:
   -1px -1px 0 var(--color-black),  
    1px -1px 0 var(--color-black),
    -1px 1px 0 var(--color-black),
     1px 1px 0 var(--color-black),
   
     4px 4px 0 rgba(0, 0, 0, .2);
  
  animation: rainbow 1.5s ease-in-out infinite;
  
  @for $i from 1 through 7 {
   &:nth-child(#{$i}) {
    animation-delay: calc( #{$i} / var(--delay) * 1s);
    left: calc(var(--axis-x) * #{$i});
    z-index: -#{$i * 10};
   }
  }
  
  &:not(:first-child) {
   position: absolute;
   top: 0;
  }

  &--white  { --text-color: var(--color-white)}
  &--orange { --text-color: var(--color-orange)}
  &--red    { --text-color: var(--color-red)}
  &--violet { --text-color: var(--color-violet)}
  &--blue   { --text-color: var(--color-blue)}
  &--green  { --text-color: var(--color-green)}
  &--yellow { --text-color: var(--color-yellow)}
 }
}

@keyframes rainbow {
 0%, 100% {
  transform: translatey(var(--axis-y)); 
 }
 50% {
  transform: translatey(calc(var(--axis-y) * -1));
 }
} 
